<!DOCTYPE html>
<html>
<head>
    <title>星の位置計算</title>
</head>
<body>
    <h1>星の位置計算</h1>
    <form action="/calculate/" method="post">
        <label for="latitude">緯度:</label>
        <input type="text" id="latitude" name="latitude"><br><br>
        <label for="longitude">経度:</label>
        <input type="text" id="longitude" name="longitude"><br><br>
        <label for="declination">赤緯 (度):</label>
        <input type="text" id="declination" name="declination"><br><br>
        <label for="ra">赤経 (度):</label>
        <input type="text" id="ra" name="ra"><br><br>
        <label for="year">年:</label>
        <input type="text" id="year" name="year"><br><br>
        <label for="month">月:</label>
        <input type="text" id="month" name="month"><br><br>
        <label for="day">日:</label>
        <input type="text" id="day" name="day"><br><br>
        <label for="hour">時:</label>
        <input type="text" id="hour" name="hour"><br><br>
        <label for="minute">分:</label>
        <input type="text" id="minute" name="minute"><br><br>
        <label for="second">秒:</label>
        <input type="text" id="second" name="second"><br><br>
        <input type="submit" value="計算">
    </form>
</body>
</html>